{% extends 'home/master.html' %}
{% load staticfiles %}
{% block title %}Welcome - Proximifi{% endblock %}
{% block header_includes %}
    <script src="{% static 'home/scripts/window.js' %}"></script>
    <script src="{% static 'home/scripts/map.js' %}"></script>
    <script src="{% static 'home/scripts/forms.js' %}"></script>
    <script src="{% static 'home/scripts/googleApi.js' %}"></script>
    <script src="{% static 'home/scripts/main.js' %}"></script>
    <script src="{% static 'home/scripts/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'home/scripts/circle.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/circle.css' %}"/>
{% endblock %}
{% block header_content %}
    <div id="logo_wrapper">
        <img src="{% static 'home/images/logo.gif' %}" id="logo">
    </div>
    <div class="header_content_wrapper">
        <p class="title_big">New to an area?</p>

        <p class="title_small">Let us help you find a place to stay</p>

        <form class="newUser_inputForm">
            {% csrf_token %}
            <input type="search" id="search_bar_main" placeholder="Enter either a city or an address"/>
            <br>

            <div class="left-right-wrapper">
                <div class="left-half">
                    <p class="title_small">Choose up to 3 interests</p>
                    <input id="interest_1_main" type="text" placeholder="E.g. 'Indian Restaurants' "/>
                    <input id="interest_2_main" type="text" placeholder="E.g. 'Cinemas' "/>
                    <input id="interest_3_main" type="text" placeholder="E.g. 'Hospitals' "/>
                    <input type="submit" value="Submit"/>
                </div>
                <div class="right-half">
                    <p class="description_text">Proximifi will rate the hotels in the location by analyzing the places
                        which will interest you, and how close these places are.</p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block header_compressed_content %}
    <div class="header_compressed_content_wrapper">
        <form class="compressed_form">
            {% csrf_token %}
            <input type="search" id="search_bar_compressed" placeholder="  Enter a city or address"/>

            <div class="black_bar"></div>
            <input id="interest_1_compressed" placeholder="Interest 1"/>
            <input id="interest_2_compressed" placeholder="Interest 2"/>
            <input id="interest_3_compressed" placeholder="Interest 3"/>
            <input type="submit" value="Search">
        </form>
    </div>
{% endblock %}
{% block body_content %}
    <div class="detailedView_wrapper">
        <div class="tabs_wrapper">
            <ul>
                <li>Overview</li>
                <li>Interest 1</li>
                <li>Interest 2</li>
                <li>Interest 3</li>
            </ul>
        </div>
        <div class="detailedView_content_wrapper">
            <div class="overview_wrapper">
            </div>
            <div class="interest1_wrapper">
                <div class="interest_info_wrapper">
                    <div class="interest_number">1</div>
                    <div class="interest_details">
                        <p class="info_box_text">Awesome Place</p>

                        <p class="info_box_text">www.coolwebsite.com</p>
                    </div>
                </div>
            </div>
            <div class="interest2_wrapper">
            </div>
            <div class="interest3_wrapper">
            </div>
        </div>
    </div>
    <div id="loadingGIF_container">
        <img src="{% static 'home/images/pulse_loader.gif' %}">
    </div>
    <div id="map_canvas">
    </div>
{% endblock %}