{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Proximify{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/styles_reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/styles_main.css' %}"/>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWDajJ4wx9GDa9TOfQHe1nzH24lbUENm4&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% block header_includes %}{% endblock %}
</head>
<body>
<div class="window_wrapper">
    <div class="nav_wrapper">
        <img src="{% static 'home/images/logo_nav.gif' %}" id="nav_logo">

{#        <p class="login_text"><a>Login</a> | <a>Sign up</a></p>#}
    </div>
    <div class="header_wrapper">
        {% block header_content %}{% endblock %}
    </div>
    <div class="header_compressed_wrapper">
        {% block header_compressed_content %}{% endblock %}
    </div>
    {% block body_content %}{% endblock %}
</div>
</body>
</html>