{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'home/styles/circle.css' %}">
    <script src="{% static 'home/scripts/circle.js' %}"></script>
</head>
<body>
<div id="div1"></div>
<script>
    start1(105);
</script>
</body>
</html>