//In order to make percentages be relative to the browser size
html, body, .window_wrapper {
  height: 100%;
}

.window_wrapper {
  position: relative;
}

.header_wrapper {
  position: relative;
  width: 50%;
  top: 12.5%;
  left: 25%;
  z-index: 2;
  text-align: center;
  //display: none;
}

.header_content_wrapper {
  margin: 0;
  padding: 0;
  display: block;
}

.newUser_inputForm {
  padding-bottom: 3%;
  input[type='search'] {
    width: 50%;
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 1.2em;
    padding: 0.7% 0.7%;
  }

  input[type="text"] {
    display: block;
    margin: 3% auto;
    width: 65%;
    font-size: 0.8em;
    padding: 1% 1%;
  }

  input[type=submit] {
    font-size: 1.1em;
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 2% 10%;
    background-color: rgb(21, 154, 211);
    color: white;
  }
}

.compressed_form {
  input {
    display: block;
    margin: 5px auto;
    font-size: 0.9em;
    text-align: center;
  }

  input[type='search'] {
    width: 70%;
    height: 30px;
    font-size: 1em;
    @include appearance (none);
    border: none;
    text-align: center;
  }

  input[type=submit] {
    font-size: 1.1em;
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 2% 5%;
    background-color: rgb(21, 154, 211);
    color: white;
    border: none;
  }

  input[type=text] {

  }
}

.login_text {
  display: inline-block;
}

.left-half {
  width: 55%;
  border-right: 1px solid white;
}

.right-half {
  width: 45%;
  position: relative;
}

.left-right-wrapper {
  @include display-flex;
}

.description_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#map_canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav_wrapper {
  z-index: 1;
  position: relative;
  width: 100%;

  p {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }
}

.header_compressed_wrapper {
  position: relative;
  float: left;
  z-index: 1;
  width: 25%;
  display: none;
}

.shadowBox {
  @include box-shadow(black 0px 0px 15px 5px);
  z-index: 1;
}

.detailedView_wrapper {
  position: relative;
  float: right;
  z-index: 1;
  width: 22%;
  height: 45%;
  display: none;

  .tabs_wrapper {
    position: absolute;
    display: inline-block;
    width: $tabWidth;
    left: -$tabWidth;
    ul {
      :nth-child(1) {
        background-color: $nav_background_color;
      }

      :nth-child(2) {
        background-color: $interest_1_color;
      }

      :nth-child(3) {
        background-color: $interest_2_color;
      }

      :nth-child(4) {
        background-color: $interest_3_color;
      }

      li {
        padding: 10px 10px 10px 10px;
        color: white;
        cursor: pointer;
        position: relative;
      }
    }
  }

  .detailedView_content_wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: $header_background_color;
    color: white;
    overflow: scroll;
  }
}

.header_compressed_content_wrapper {
  padding-top: 5%;
}

.black_bar {
  width: 85%;
  height: 7px;
  background-color: $nav_background_color;
  margin: 10px auto;
}

.overview_wrapper {
  height: 100%;
}

#loadingGIF_container {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  display: none;
  transform: translateX(-50%);
}

.interest1_wrapper {
  display: none;
  height: 100%;
}

.tab_title {
  text-align: center;
  margin-bottom: 5%;
}

.hotel_stars {
  width: 10%;
}

.stars_wrapper {
  display: inline-block;
  padding-left: 33%;
}

.info_box {
  width: 80%;
  //height: 40%;
  margin: 0 auto;
  @extend .shadowBox;
}

.interest2_wrapper {
  display: none;
}

.interest3_wrapper {
  display: none;
}

.interest_info_wrapper {
  @extend .info_box;
  margin-top: 10%;
  @include display-flex;
}

.interest_number {
  width: 20%;
  text-align: center;
}

.interest_details {
  width: 80%;
  text-align: center;
}