$header_background_color: rgba(61, 61, 61, 0.79);
$nav_background_color: #3D3D3D;
$big_header_text: 2em;
$small_header_text: 1.5em;
$interest_1_color: orange;
$interest_2_color: rgb(131, 171, 48);
$interest_3_color: rgb(21, 154, 211);
$tabWidth: 30%;