/**
 Copyright (c) 2014 BrightPoint Consulting, Inc.

 Permission is hereby granted, free of charge, to any person
 obtaining a copy of this software and associated documentation
 files (the "Software"), to deal in the Software without
 restriction, including without limitation the rights to use,
 copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the
 Software is furnished to do so, subject to the following
 conditions:

 The above copyright notice and this permission notice shall be
 included in all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 OTHER DEALINGS IN THE SOFTWARE.
 */
/* line 26, sass/circle.scss */
.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

/* line 31, sass/circle.scss */
.component {
    fill: #e1e1e1;
}

/* line 35, sass/circle.scss */
.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

/* line 41, sass/circle.scss */
.arc {
    stroke-weight: 0.1;
    fill: #4e8fff;
}

/* line 46, sass/circle.scss */
.arc2 {
    stroke-weight: 0.1;
    fill: #3660b0;
}

/* line 51, sass/circle.scss */
.label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial, serif;
    text-anchor: middle;
    fill: white;
}

/* line 57, sass/circle.scss */
.radial-svg {
    display: block;
    margin: 0 auto;
}

/* line 64, sass/circle.scss */
#test .arc2 {
    stroke-weight: 0.1;
    fill: #3660b0;
}

/* line 69, sass/circle.scss */
#outer {
    background: #FFFFFF;
    border-radius: 5px;
    color: #000;
}

/* line 75, sass/circle.scss */
#div1, #div2, #div3, #div4 {
    width: 29%;
    height: 33%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* line 82, sass/circle.scss */
#div2 .arc {
    stroke-weight: 0.1;
    fill: #f0a417;
}

/* line 87, sass/circle.scss */
#div2 .arc2 {
    stroke-weight: 0.1;
    fill: #b00d08;
}

/* line 92, sass/circle.scss */
#div3 .arc {
    stroke-weight: 0.1;
    fill: #1d871b;
}

/* line 97, sass/circle.scss */
.selectedRadial {
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(200, 200, 200, 0.85);
}

/* line 106, sass/circle.scss */
.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;
}
