@import url(https://fonts.googleapis.com/css?family=Raleway:400,100);
/* line 2, sass/partials/_layout.scss */
html, body, .window_wrapper {
  height: 100%;
}

/* line 6, sass/partials/_layout.scss */
.window_wrapper {
  position: relative;
}

/* line 10, sass/partials/_layout.scss */
.header_wrapper {
  position: relative;
  width: 50%;
  top: 12.5%;
  left: 25%;
  z-index: 2;
  text-align: center;
}

/* line 20, sass/partials/_layout.scss */
.header_content_wrapper {
  margin: 0;
  padding: 0;
  display: block;
}

/* line 26, sass/partials/_layout.scss */
.newUser_inputForm {
  padding-bottom: 3%;
}
/* line 28, sass/partials/_layout.scss */
.newUser_inputForm input[type='search'] {
  width: 50%;
  margin-top: 0%;
  margin-bottom: 2%;
  font-size: 1.2em;
  padding: 0.7% 0.7%;
}
/* line 36, sass/partials/_layout.scss */
.newUser_inputForm input[type="text"] {
  display: block;
  margin: 3% auto;
  width: 65%;
  font-size: 0.8em;
  padding: 1% 1%;
}
/* line 44, sass/partials/_layout.scss */
.newUser_inputForm input[type=submit] {
  font-size: 1.1em;
  margin-top: 4%;
  margin-bottom: 5%;
  padding: 2% 10%;
  background-color: #159ad3;
  color: white;
}

/* line 55, sass/partials/_layout.scss */
.compressed_form input {
  display: block;
  margin: 5px auto;
  font-size: 0.9em;
  text-align: center;
}
/* line 62, sass/partials/_layout.scss */
.compressed_form input[type='search'] {
  width: 70%;
  height: 30px;
  font-size: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  text-align: center;
}
/* line 71, sass/partials/_layout.scss */
.compressed_form input[type=submit] {
  font-size: 1.1em;
  margin-top: 4%;
  margin-bottom: 5%;
  padding: 2% 5%;
  background-color: #159ad3;
  color: white;
  border: none;
}

/* line 86, sass/partials/_layout.scss */
.login_text {
  display: inline-block;
}

/* line 90, sass/partials/_layout.scss */
.left-half {
  width: 55%;
  border-right: 1px solid white;
}

/* line 95, sass/partials/_layout.scss */
.right-half {
  width: 45%;
  position: relative;
}

/* line 100, sass/partials/_layout.scss */
.left-right-wrapper {
  display: -webkit-flex;
  display: flex;
}

/* line 104, sass/partials/_layout.scss */
.description_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 110, sass/partials/_layout.scss */
#map_canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 121, sass/partials/_layout.scss */
.nav_wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
}
/* line 126, sass/partials/_layout.scss */
.nav_wrapper p {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

/* line 134, sass/partials/_layout.scss */
.header_compressed_wrapper {
  position: relative;
  float: left;
  z-index: 1;
  width: 25%;
  display: none;
}

/* line 142, sass/partials/_layout.scss */
.shadowBox, .info_box, .interest_info_wrapper {
  -moz-box-shadow: black 0px 0px 15px 5px;
  -webkit-box-shadow: black 0px 0px 15px 5px;
  box-shadow: black 0px 0px 15px 5px;
  z-index: 1;
}

/* line 147, sass/partials/_layout.scss */
.detailedView_wrapper {
  position: relative;
  float: right;
  z-index: 1;
  width: 22%;
  height: 45%;
  display: none;
}
/* line 155, sass/partials/_layout.scss */
.detailedView_wrapper .tabs_wrapper {
  position: absolute;
  display: inline-block;
  width: 30%;
  left: -30%;
}
/* line 161, sass/partials/_layout.scss */
.detailedView_wrapper .tabs_wrapper ul :nth-child(1) {
  background-color: #3D3D3D;
}
/* line 165, sass/partials/_layout.scss */
.detailedView_wrapper .tabs_wrapper ul :nth-child(2) {
  background-color: orange;
}
/* line 169, sass/partials/_layout.scss */
.detailedView_wrapper .tabs_wrapper ul :nth-child(3) {
  background-color: #83ab30;
}
/* line 173, sass/partials/_layout.scss */
.detailedView_wrapper .tabs_wrapper ul :nth-child(4) {
  background-color: #159ad3;
}
/* line 177, sass/partials/_layout.scss */
.detailedView_wrapper .tabs_wrapper ul li {
  padding: 10px 10px 10px 10px;
  color: white;
  cursor: pointer;
  position: relative;
}
/* line 186, sass/partials/_layout.scss */
.detailedView_wrapper .detailedView_content_wrapper {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(61, 61, 61, 0.79);
  color: white;
  overflow: scroll;
}

/* line 198, sass/partials/_layout.scss */
.header_compressed_content_wrapper {
  padding-top: 5%;
}

/* line 202, sass/partials/_layout.scss */
.black_bar {
  width: 85%;
  height: 7px;
  background-color: #3D3D3D;
  margin: 10px auto;
}

/* line 209, sass/partials/_layout.scss */
.overview_wrapper {
  height: 100%;
}

/* line 213, sass/partials/_layout.scss */
#loadingGIF_container {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  display: none;
  transform: translateX(-50%);
}

/* line 222, sass/partials/_layout.scss */
.interest1_wrapper {
  display: none;
  height: 100%;
}

/* line 227, sass/partials/_layout.scss */
.tab_title {
  text-align: center;
  margin-bottom: 5%;
}

/* line 232, sass/partials/_layout.scss */
.hotel_stars {
  width: 10%;
}

/* line 236, sass/partials/_layout.scss */
.stars_wrapper {
  display: inline-block;
  padding-left: 33%;
}

/* line 241, sass/partials/_layout.scss */
.info_box, .interest_info_wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 248, sass/partials/_layout.scss */
.interest2_wrapper {
  display: none;
}

/* line 252, sass/partials/_layout.scss */
.interest3_wrapper {
  display: none;
}

/* line 256, sass/partials/_layout.scss */
.interest_info_wrapper {
  margin-top: 10%;
  display: -webkit-flex;
  display: flex;
}

/* line 262, sass/partials/_layout.scss */
.interest_number {
  width: 20%;
  text-align: center;
}

/* line 267, sass/partials/_layout.scss */
.interest_details {
  width: 80%;
  text-align: center;
}

/* line 7, sass/styles_main.scss */
.header_content_wrapper {
  background-color: rgba(61, 61, 61, 0.79);
  color: white;
}

/* line 13, sass/styles_main.scss */
.newUser_inputForm input {
  background-color: #ffffff;
  border: none;
}
/* line 61, ../../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.newUser_inputForm input:-moz-placeholder {
  color: #cdcdcd;
}
/* line 64, ../../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.newUser_inputForm input::-moz-placeholder {
  color: #cdcdcd;
}
/* line 67, ../../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.newUser_inputForm input:-ms-input-placeholder {
  color: #cdcdcd;
}
/* line 56, ../../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.newUser_inputForm input::-webkit-input-placeholder {
  color: #cdcdcd;
}
/* line 21, sass/styles_main.scss */
.newUser_inputForm input[type='search'] {
  font-size: 1.1em;
  margin-bottom: 3%;
}
/* line 26, sass/styles_main.scss */
.newUser_inputForm input[type="text"] {
  text-align: center;
}
/* line 31, sass/styles_main.scss */
.newUser_inputForm input[type='submit'] {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/* line 37, sass/styles_main.scss */
.title_big {
  padding: 3.5% 10% 0.5% 10%;
  font-size: 1.9em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/* line 44, sass/styles_main.scss */
#logo_wrapper {
  background-color: #3D3D3D;
}

/* line 48, sass/styles_main.scss */
.title_small {
  padding: 1% 0 2% 0;
  font-size: 16pt;
  font-family: 'Raleway', sans-serif;
}

/* line 55, sass/styles_main.scss */
.left-half p {
  margin-top: 2%;
}

/* line 60, sass/styles_main.scss */
.description_text {
  font-size: 13pt;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/* line 66, sass/styles_main.scss */
.nav_wrapper {
  background-color: #3D3D3D;
}
/* line 68, sass/styles_main.scss */
.nav_wrapper .login_text {
  color: white;
}

/* line 74, sass/styles_main.scss */
.tabs_wrapper li {
  font-family: 'DejaVu Sans', sans-serif;
}

/* line 79, sass/styles_main.scss */
.header_compressed_wrapper {
  background-color: rgba(61, 61, 61, 0.79);
}

/* line 83, sass/styles_main.scss */
.info_box, .interest_info_wrapper {
  background-color: #3D3D3D;
  padding-top: 5%;
  padding-bottom: 2%;
}

/* line 89, sass/styles_main.scss */
.tab_title {
  font-size: 1.5em;
}

/* line 93, sass/styles_main.scss */
.info_box_text {
  text-align: center;
  font-size: 1.2em;
  display: block;
  color: white;
  margin-bottom: 3%;
}

/* line 101, sass/styles_main.scss */
.interest_number {
  font-size: 2.5em;
  border-right: 2px solid white;
}
