@import "compass";
@import "partials/variables";
@import "partials/layout";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100);
@import "compass/css3/user-interface";

.header_content_wrapper {
  background-color: $header_background_color;
  color: white;
}

.newUser_inputForm {
  input {
    background-color: #ffffff;
    border: none;
    @include input-placeholder {
      color: #cdcdcd;
    }
  }

  input[type='search'] {
    font-size: 1.1em;
    margin-bottom: 3%;
  }

  input[type="text"] {
    text-align: center;
    // margin: 3.5% 0 0 0;
  }

  input[type='submit'] {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
}

.title_big {
  padding: 3.5% 10% 0.5% 10%;
  font-size: 1.9em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#logo_wrapper {
  background-color: #3D3D3D;
}

.title_small {
  padding: 1% 0 2% 0;
  font-size: 16pt;
  font-family: 'Raleway', sans-serif;
}

.left-half {
  p {
    margin-top: 2%;
  }
}

.description_text {
  font-size: 13pt;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.nav_wrapper {
  background-color: $nav_background_color;
  .login_text {
    color: white;
  }
}

.tabs_wrapper {
  li {
    font-family: 'DejaVu Sans', sans-serif;
  }
}

.header_compressed_wrapper {
  background-color: $header_background_color;
}

.info_box {
  background-color: $nav_background_color;
  padding-top: 5%;
  padding-bottom: 2%;
}

.tab_title {
  font-size: $small_header_text;
}

.info_box_text {
  text-align: center;
  font-size: 1.2em;
  display: block;
  color: white;
  margin-bottom: 3%;
}

.interest_number {
  font-size: 2.5em;
  border-right: 2px solid white;
}
