
{% load staticfiles %}
<!DOCTYPE html>
    <html>

        <h1>Results</h1>
            <!--<p>{{ results }}</p>-->
            <ul>
                {% for l in results %}
                <p></p>
                <p>==========================================================================================</p>
                <p></p>
                <p>{{ l }}</p>
                <p></p>
                <p>==========================================================================================</p>
                <p></p>
                {% endfor %}
            </ul>
    </html>