{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
      <title>Maps tester</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="{% static 'apitrial/main.js' %}"></script>
  </head>
  <body>
    <div id="map"></div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWDajJ4wx9GDa9TOfQHe1nzH24lbUENm4&callback=initMap">
    </script>
  </body>
</html>